.container {
  position: relative;
  width: 150rem;
  height: 150rem;
}

.loader {
  width: 150rem;
  height: 150rem;
  border-radius: 50%;
  border: 7rem dashed rgb(87, 72, 152);
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(0.8);
  }

  100% {
    transform: rotate(360deg) scale(1.2);
  }
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}
