.form {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  font-size: 20rem;
  width: 400rem;
  margin: 0 auto;
  text-align: center;
  border: 1px solid lightgray;
  padding: 15rem;
  border-radius: 20rem;
}
