.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  margin-bottom: 20rem;
}

.logo {
  width: 60rem;
  height: 60rem;

  & img {
    width: 100%;
    height: 100%;
  }
}

.title {
  margin-top: 20rem;
  text-align: center;
  font-size: 34rem;
}

.header__nav {
  display: flex;
  justify-content: center;
  gap: 20rem;
  font-size: 21rem;

  & a:hover {
    color: #112d49;
    text-decoration: underline;
  }
}

@media (max-width:620px) {
  .title {
    font-size: 26rem;
  }
}
