.form {
  display: flex;
  flex-direction: column;
  gap: 25rem;
  font-size: 20rem;
  width: 400rem;
  margin: 0 auto;
  text-align: center;
  border: 1px solid lightgray;
  padding: 10rem 15rem 20rem;
  border-radius: 20rem;
}

.form span {
  font-size: 11rem;
  color: red
}
