.list {
  margin-top: 20rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300rem, 1fr));
  gap: 30rem;
}

.form {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.search {
  transform: translate(-13%, 0);
  width: 400rem;
  height: 50rem;
  border-radius: 20rem;
  font-size: 20rem;
  padding-left: 10rem;
}

@media (max-width:620px) {
  .search {
    transform: translate(0, 0);
    width: 200rem;
  }
}
